section {
    padding: 37px 12% 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 3rem;
    background: #f7f7f7;
    position: absolute;
    left: 0;
    right: 0; 
    text-align: center;
}

.footer_content h4 {
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer_content img {
    width: 200px;
    height: 50px;
}

.footer_content li {
    margin-bottom: 4px;
}

.footer_content li a {
    display: block;
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer_content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: var(--black);
} 

.footer_content p {
    color: #080808;
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0px;
    font-weight: 500;
}

.icons a {
    display: inline-block;
    font-size: 22px;
    color: #080808;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color: var(--green);
    transform: translateY(-5px);
}