h2,
.hero__content p,
.mobile-menu__nav {
    font-family: var(--poppins);
    text-transform: uppercase;
}

.mobile-menu,
.desktop-menu {
    display: none;
}

.hero {
    /* background-image: url("../assets/03_billetes.avif"); */
    background-size: cover;
    min-height: 80vh;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
}

.hero__content-logo {
    font-size: 1rem;
}

.open-menu,
.close-menu {
    border-radius: 67%;
    background-color: var(--black);
    color: var(--orange);
    font-size: 2rem;
    cursor: pointer;
    height: 44px;
    padding: 1px;
    width: 44px;
}

.close-menu {
    margin-top: 10px;
    border: 1px solid var(--black);
    background-color: var(--gray);
    color: var(--white);
}

/* .hero__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__content img {
    width: 200px;
    height: 130px;
    padding: 1rem;
}

.hero__content p {
    color: var(--white);
    font-size: 2rem;
    border: 2px solid var(--white);
    padding: 1rem;
} */

.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: fixed;
    inset: 0;
    padding: 2rem;
    /* padding: 1rem; Version modificada */
    /* z-index: 999; Version modificada */
}

.mobile-menu__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.mobile-menu__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.mobile-menu__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   

.mobile-menu__nav ul li a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 200;
}

.mobile-menu__nav ul button {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 25px; 
    transition: 0.3s all;
    font-weight: 300;
}

.mobile-menu__nav ul li button:hover {
    background-color: var(--green);
    transition: 0.3s all;
} 

@media screen and (min-width: 800px) {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: orange;
        border-radius: 50px;
    }

    .logo {
        margin-right: 140px;
        width: 6.6rem;
        height: 4rem;
        padding: 7px;
    }

    .open-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
    }

    .desktop-menu ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-family: var(--poppins);
        margin: 10px 0;
    }

    .desktop-menu ul li {
        margin-top: 5px;
    }

    .desktop-menu ul li:hover {
        font-weight: 900;
    }

    .desktop-menu ul li a {
        color: var(--black);
        font-size: 0.9rem;
    }

    .button-prestamo {
        border-radius: 22px;
        padding: 0.2rem 1rem 0.2rem 1rem;
        font-size: 15px;
        border: 1px solid orange;
        background: white;
    }
}

@media screen and (min-width: 956px) {
    .hero {
        background-image: url();
        padding: 2rem 7rem;
        min-height: 90vh;
    }

    .hero__content p {
        font-size: 3rem;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: orange;
        border-radius: 50px;
        height: 9vh;
        max-width: 100%;
        margin-left: 4%;
        position: fixed;
        z-index: 9;
    }

    .logo {
        margin-left: 70px;
    }

    .open-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
    }

    .desktop-menu ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-family: var(--poppins);
        align-items: center;
        margin-left: -2%;
    }

    .desktop-menu ul li {
        margin-top: 5px;
    }

    .desktop-menu ul li a {
        color: var(--black);
        font-size: 1rem;
    }

    .button-prestamo {
        border-radius: 22px;
        padding: 0.2rem 1rem 0.2rem 1rem;
        font-size: 15px;
        border: 1px solid orange;
        background: white;
        margin-left: 76px;
        height: 6vh;
    }
}


.disabled {
    display: none;
}