.section__1-medios-de-pago h1 {
    font-size: clamp(1.7em, 5vw, 5em);
    padding: 1rem 2rem;
}

.section__2-medios-de-pago h4 {
    font-size: clamp(1.7em, 5vw, 1em);
    text-align: center;
    margin-top: 0.7rem;
}

@media (min-width: 320px) and (max-width: 521px) {
    #hero_medios {
        background-image: url(../assets/pagos.jpg);
        background-position: center;
        background-size: cover;
        min-height: 33%;
        height: 78vw;
    }
}

@media (min-width: 526px) and (max-width: 799px) {
    #hero_medios {
        background-image: url(../assets/pagos.jpg);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        min-height: 33%;
        height: 78vw;
    }

    .wrapper-telefono::before {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #hero_medios {
        background-image: url("../assets/pagos.jpg");
        background-position: center;
        background-size: cover;
        height: 95vh;
    }

    .medios-de-pago {
        position: relative; /* Posición fija */
        top: 0; /* Al principio de la pantalla */
        z-index: 10;
        display: flex;
        justify-content: center;
    }

    .section__1-medios-de-pago h1 {
        font-size: clamp(2em, 5vw, 3em);
        padding: 1rem 2rem;
    }

    .wrapper-telefono::before {
        display: none;
    }

    .wrapper-telefono__title {
        font-size: 3rem;
        color: var(--white);
    }

    .wrapper-telefono__title:hover {
        color: var(--black);
    }

    #medios-de-pago-email {
        text-align: center;
        border-radius: 20px;
        padding: 2rem;
        font-size: 2.3rem;
        color: var(--green)
    }

    #medios-de-pago-email:hover {
        color: var(--orange);
    }

    .medios-de-pago-rojo {
        color: rgb(255 43 0);
        font-weight: 700;
        font-size: 1.5rem;
    }
}
